.books__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
}

.books__row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.books__container {
    padding: 40px 0;
    width: 100%;
}

.inner__wrapper {
    display: flex;
    gap: 16px;
}

.inner__book {
    width: 100%;
}

.inner__book__title,
.premium__badge,
.inner__book__author {
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.inner__book__title,
.premium__badge {
    font-size: 32px;
}